/* ESTILOS DEL MAIN */
@use "../mixins/responsive.scss" as *;

.main__title-section {
	text-align: center;
	margin-bottom: 100px;
	@include responsive(laptop) {
		display: flex;
		align-items: center;
	}
}

.main__title{
	@include responsive(laptop) {
		margin-left: auto;
		margin-right: auto;
	}

}


.main__portfolio{

	@include responsive(laptop) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0.625rem;
	}
}

.main__portfolio-card {
	background-color: var(--secondary-color);
	padding: 2.1875rem;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 1.25rem;
    border-radius: 10px;
}

.main__portfolio-card-img {
	border: 8px solid var(--text-color);
	height: 14.375rem;
	object-fit: cover;
	border-radius: 10px;
    margin-bottom: 2.25rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main__portfolio-work-link{
	display: flex;
	align-items: center;
	gap: 20px;
}

.btn-preview{
	background-color: var(--h3-color);
	padding: 8px 20px;
	border-radius: 10px;
	color:black;
	&:hover{
		background-color: #6acdbb;
	}
}

.main__portfolio-card-footer {
	background-color: var(--text-color);
	border-radius: 0 0 20px 20px;
	padding: 5px 25px;
	display: flex;
	justify-content: space-around;	
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main__portfolio-card-footer-img {
	width: 2.5rem;
	
}

// .main__portfolio-card-footer-img:hover {
	
// 	transform: scale(1.2);
// 	transition: transform .8s;
	
// }



.main__portfolio-card-description{

    margin: 1.5625rem 0;
	height: 4.6875rem;
}
