:root {
  /* Variables CSS */

  --bg-color:#fe5944;
  --primary-color:#fffeff;
  --secondary-color:#f04b38;
  --text-color:#fcfffa;
  --h3-color:#6FEDD6;

  --title-text: 'Bebas Neue', cursive;
  --p-text:'Poppins', sans-serif;


}

/* Variables SASS */
